<a href="https://colab.research.google.com/github/PaletteofDesign/ensemble_trees/blob/main/regression_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Import 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor

In [3]:
# Create DataFrame
f = '/content/kc_house_data.csv'
df = pd.read_csv(f)
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [4]:
# Review
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
df.index = df['id']
df.drop(columns = ['id', 'date'], inplace = True)

# Regression Tree

In [6]:
# Creating target and features
y = df['price']
X = df.drop(columns='price')

In [7]:
# Creating train, test, split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [8]:
# Creating DTR
dec_tree = DecisionTreeRegressor(random_state=42)

In [9]:
# Fiting training data to model
dec_tree.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=42, splitter='best')

In [10]:
# Obtaining predictions
train_preds = dec_tree.predict(X_train)
test_preds = dec_tree.predict(X_test)

In [11]:
# Obtaining scores - R2
train_score = dec_tree.score(X_train, y_train)
test_score = dec_tree.score(X_test, y_test)
print(train_score)
print(test_score)

0.9992991491064857
0.712488049789618

In [12]:
# Reviewing tree depth
dec_tree.get_depth()

36

In [13]:
# Reviewing number of leaves 
dec_tree.get_n_leaves()

15550

In [14]:
# Tuning according to tree depth and final results
dec_tree_2 = DecisionTreeRegressor(max_depth = 7, random_state = 42)
dec_tree_2.fit(X_train, y_train)
train_2_score = dec_tree_2.score(X_train, y_train)
test_2_score = dec_tree_2.score(X_test, y_test)
print('Final:')
print(train_2_score)
print(test_2_score)

Final:
0.834426116260796
0.7572412024630514

# Bagged Tree

In [70]:
bagreg = BaggingRegressor(max_samples=6000)

In [71]:
bagreg.fit(X_train, y_train)

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=6000, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=None, verbose=0,
                 warm_start=False)

In [72]:

bagreg_train_score = bagreg.score(X_train, y_train)
bagreg_test_score = bagreg.score(X_test, y_test)
print(bagreg_train_score)
print(bagreg_test_score)

0.9172718305921782
0.8550429502867337

# Random forest regression techniques on the dataset to predict price from its features

In [18]:
rf = RandomForestRegressor(random_state=42)

In [19]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [20]:
rf_train_score = rf.score(X_train, y_train)
rf_test_score = rf.score(X_test, y_test)
print(rf_train_score)
print(rf_test_score)

0.9822974687040884
0.867119147433169

In [21]:
rf_6 = RandomForestRegressor(max_depth = 6, random_state = 42)
rf_6.fit(X_train, y_train)
rf_6_train_score = rf_6.score(X_train, y_train)
rf_6_test_score = rf_6.score(X_test, y_test)
print(rf_6_train_score)
print(rf_6_test_score)

0.8373805663949189
0.7913543350492664

In [22]:
rf.feature_importances_

array([0.00286812, 0.01046085, 0.25133288, 0.01360806, 0.00193086,
       0.02964955, 0.01061545, 0.00296464, 0.33616096, 0.02075849,
       0.00532124, 0.03731132, 0.00222625, 0.01509868, 0.15103039,
       0.06257352, 0.03294906, 0.01313967])

In [23]:
importance = pd.DataFrame(rf.feature_importances_, X.columns,columns=['Importance'])
importance.sort_values('Importance',inplace=True)

In [24]:
importance

               Importance
floors           0.001931
yr_renovated     0.002226
bedrooms         0.002868
condition        0.002965
sqft_basement    0.005321
bathrooms        0.010461
view             0.010615
sqft_lot15       0.013140
sqft_lot         0.013608
zipcode          0.015099
sqft_above       0.020758
waterfront       0.029650
sqft_living15    0.032949
yr_built         0.037311
long             0.062574
lat              0.151030
sqft_living      0.251333
grade            0.336161

1. Most important features are grade, sqft_living, lat.

2. **Features that can be adjusted:** 

**RandomForestRegressor** - bootstrap=True, ccp_alpha=0.0, criterion='mse',
max_depth=None, max_features='auto', max_leaf_nodes=None, max_samples=None, min_impurity_decrease=0.0, min_impurity_split=None, min_samples_leaf=1,min_samples_split=2, min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None, oob_score=False, random_state=None, etc.

**BaggingRegressor** - base_estimator=None, bootstrap=True, bootstrap_features=False, max_features=1.0, max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False, random_state=None, etc.